@mixin grid-cols-all() {
    $selectors : '';
    @for $i from 1 through 12 {
        $selectors : $selectors + '.grid-' + $i + ', .grid-s' + $i + ', .grid-m' + $i + ', .grid-l' + $i + ', .grid-xl' + $i + ', ';
    }
    #{$selectors} {
        min-height: 1px;
        width: 100%;
        float: left;
    }
}

@mixin grid-cols( $affix : '' ) {
    @for $i from 1 through 12 {
        .grid-#{$affix}#{$i} {
            width: ( $i / 12 ) * 100%;
        }
    }
}

@mixin grid-offsets( $affix : '' ) {
    @for $i from 0 through 12 {
        .grid-offset-#{$affix}#{$i} {
            margin-left: ( $i / 12 ) * 100%;
        }
    }
}

@mixin grid-pulls( $affix : '' ) {
    @for $i from 0 through 12 {
        .grid-pull-#{$affix}#{$i} {
            left: ( -$i / 12 ) * 100%;
        }
    }
}

@mixin grid-pushes( $affix : '' ) {
    @for $i from 0 through 12 {
        .grid-push-#{$affix}#{$i} {
            left: ( $i / 12 ) * 100%;
        }
    }
}

.grid-container,
.grid-container-fluid,
.grid {
    @include clearfix();
}
.grid {
    margin-left: -10px;
    margin-right: -10px;
    > * {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.grid-container,
.grid-container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.grid-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media( min-width: 768px )
{
    .grid-container {
        max-width: 740px;
    }
}

@media( min-width: 980px ) {
    .grid-container {
        max-width: 950px;
    }
    .grid {
        margin-left: -15px;
        margin-right: -15px;
        > * {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media( min-width: 1230px ) {
    .grid-gl {
        margin-left: -20px;
        margin-right: -20px;
        > * {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .grid-container {
        max-width: 1210px;
    }
}

.grid-gs {
    margin-left: -5px;
    margin-right: -5px;
    > * {
        padding-left: 5px;
        padding-right: 5px;
    }
}

[class*="grid-pull"],
[class*="grid-push"] {
    position: relative;
}

@include grid-cols-all();
@include grid-cols();
@include grid-offsets();
@include grid-pulls();
@include grid-pushes();

@media( max-width: 479px ) {
    .grid-hide {
        display: none !important;
    }
    .grid-show {
        display: block !important;
    }
}

@media( min-width: 480px ) {
    @include grid-cols( s );
    @include grid-offsets( s );
    @include grid-pulls( s );
    @include grid-pushes( s );
}

@media( min-width: 480px ) and ( max-width: 767px ) {
    .grid-hide-s {
        display: none !important;
    }
    .grid-show-s {
        display: block !important;
    }
}

@media( min-width: 768px ) {
    @include grid-cols( m );
    @include grid-offsets( m );
    @include grid-pulls( m );
    @include grid-pushes( m );
}

@media( min-width: 768px ) and ( max-width: 979px ) {
    .grid-hide-m {
        display: none !important;
    }
    .grid-show-m {
        display: block !important;
    }
}

@media( min-width: 980px ) {
    @include grid-cols( l );
    @include grid-offsets( l );
    @include grid-pulls( l );
    @include grid-pushes( l );
}

@media( min-width: 980px ) and ( max-width: 1229px ) {
    .grid-hide-l {
        display: none !important;
    }
    .grid-show-l {
        display: block !important;
    }
}

@media( min-width: 1230px ) {
    .grid-hide-xl {
        display: none !important;
    }
    .grid-show-xl {
        display: block !important;
    }
    @include grid-cols( xl );
    @include grid-offsets( xl );
    @include grid-pulls( xl );
    @include grid-pushes( xl );
}