$color__accent: #cea352;
$color__text: #636363;
$color__highlight: #353535;
$color__border: #eeeeee;
$color__muted: #b2b2b2;
$color__weak: #f7f7f9;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__button: #fff;
$color__button_bg: $color__accent;
$color__button_hover: #fff;
$color__button_bg_hover: $color__highlight;

$color__button_alt: #fff;
$color__button_alt_bg: $color__highlight;
$color__button_alt_hover: #fff;
$color__button_alt_bg_hover: $color__accent;

$color__form_border: #f7f7f9;
$color__form_bg: #f7f7f9;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__accent;
$color__link-hover: #cea352;

$color__background-nav: #fff;
$color__nav_link: #353535;

$color__submenu_bg: #FFF;
$color__submenu_border: #eee;
$color__submenu_link: #353535;
$color__submenu_link_hover: $color__accent;
$color__submenu_link_hover_bg: #fafafa;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

